@charset "UTF-8";
body {
  font-family: Roboto, sans-serif;
  color: #212121;
  background-color: #ffffff;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

/*Общии стили для снятия лишнего с ссылок и элементов списка*/
.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.9), translate(-50%, -50%);
          transform: scale(0.9), translate(-50%, -50%);
}

.hero {
  padding: 118px 0;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(47, 48, 58, 0.4)));
  background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0 100%);
}
@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    background-image: url(../../images/heroMobile.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: url(../../images/heroTabl.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    background-image: url(../../images/heroDesk.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  border: none;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  font-family: Roboto, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.benefits {
  padding: 94px 0;
}

@media screen and (min-width: 768px) {
  .benefits__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .benefits__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .benefits__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc(25% - 15px);
  }
}

.benefits__container {
  padding: 25px 190px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .benefits__container {
    padding-left: 142px;
    padding-right: 142px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__container {
    padding-left: 100px;
    padding-right: 100px;
    height: 124px;
  }
}

.benefits__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */