.footer {
  padding: 60px 0;
  background-color: $accent-bg-color;
}

.footer__container--tablet{
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;    
    margin-bottom: 60px;
    justify-content: space-evenly;
  }
}

.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;    
  }
}
.logo__footer {
  color: #ffffff;
}