body {
  font-family: $main-text, sans-serif;
  color: $main-color;
  background-color: $main-bg-color;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;


  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }  

  @media screen and (max-width: 767px) {
    max-width: 480px;
  }
}
  
/*Общии стили для снятия лишнего с ссылок и элементов списка*/
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}