$main-bg-color: #ffffff;
$accent-bg-color: #2f303a;
$section-bg-color: #f5f5f5;
$team-section-bg-color: #f5f4fa;

$main-color: #212121;
$accent-color: #2196f3;
$paragraf-color: #757575;
$hero-color: #ffffff;

$svg-color: #afb1b8;
$main-text: Roboto;
$additional-text: Raleway;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;