.footer-links{
  @media screen and (max-width: 767px) {
      text-align: center;
      
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer-links__text {
  color: $hero-color;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.footer-links__social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $hero-color;
  transition: background-color $time $cubic;
  &:hover,
  &:focus  {
      background-color: $accent-color;
    }
}

.footer-links__icon{
  align-items: center;
  margin: auto;
  fill: $hero-color;
}
